.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px 2px 19px 8px;
  height: 900px;
  width: 270px;
  border-radius: 25px;
  background-color: #232323;
  transition: width 0.3s ease;
  z-index: 1;

  &.collapsed {
    width: 110px;
  }

  &__logo {
    place-items: center;
    height: 120px;

    &.hidden {
      opacity: 0;
    }
  }

  &__menu {
    position: relative;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: 500;
      color: #696969;
      transition: color 0.3s ease-in-out;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

      &.active {
        color: #fff;
      }

      &__icon {
        font-size: 23px;
        margin-right: 1rem;
      }
      &__text {
        &.hidden {
          display: none;
          transition: width 0.3s ease;
        }
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 54%;
      width: calc(100% - 40px);
      border-radius: 12px;
      z-index: -1;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }
  }
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
  }

  .sidebar {
    width: 0;
    overflow: hidden;
  }
  .sidebar.collapsed {
    width: 0;
  }

  .sidebar__logo.hidden {
    display: none;
  }
}
